# Ignore everything
/*

# But not these directories/files
!/.gitignore
!/Unit 1/

# Keep all files under Unit 1
/Unit 1/*

# Optionally ignore python caches within Unit 1
/Unit 1/**/__pycache__/
/Unit 1/**/.pytest_cache/
